#id_lec_id, #id_phone_number, #id_courses,
#id_username, #id_first_name, #id_last_name, #id_password1, 
#id_password2, #id_email{
  height: 40px;
  width: 350px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#id_assessor_status_0{
  /* margin-top: 40px; */
}

#courses_label{
  /* margin-top: 20px; */
}

#div_id_courses label{
  display: none;
}

.select2-container--default .select2-selection--multiple{
  min-height: 60px;
  height: fit-content;
  width: 500px;
}