{% extends './base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{% block title %}DashBoard{% endblock %}</title>
</head>
<body>

    {% if messages %}
    <ul class="messages" style="position: absolute; right: 25rem; left: 25rem;">
        {% for message in messages %}
        <br>
        <li id="single-message" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        <br>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="main">
        <!-- Top area -->
        <div class="top">
            <div class="top-left">
                <h1>Attachment Summary</h1>
                <p>Good morning, {{request.user.username | capfirst}} <img src="{% static 'images/icons/wave-icon.svg' %}" alt="wave icon"></p>
            </div>

            <div class="top-right">
                <div class="icons">
                    <img src="{% static 'images/icons/settings-icon.svg' %}" alt="">
                    <a href="{% url 'logout' %}">
                        <img src="{% static 'images/icons/logout-icon.svg' %}" alt="">
                    </a>
                </div>
                <img src="{% static 'images/pexels-photo-428333.webp' %}" alt="" id="profile-image">
            </div>


        </div>
        <!-- End of top area -->

        <!-- Progress Bar -->
        <div class="progress-area">
            <h2>Attachment Progress : <span>90% DONE</span></h2>
            <br>
            <div class="progress-bar">
                <div class="progress" id="progress-1">Apply</div>
                <div class="space" id="space-1"></div>
                <div class="space-extra" id="space-1-1"></div>
                <div class="progress" id="progress-2">Begin Attachment</div>
                <div class="space" id="space-2"></div>
                <div class="space-extra" id="space-2-1"></div>
                <div class="progress" id="progress-3">Log Your Progress <span>(3/10)</span> </div>
                <div class="space" id="space-3"></div>
                <div class="space-extra" id="space-3-1"></div>
                <div class="progress" id="progress-4">Pass Assessment</div>
            </div>
        </div>
        <!-- End of Progress Bar -->

        <!-- Details Content -->
        <div class="details-area">
            <div class="student-details">
                <div class="details-head">
                    <h3>Student's Details</h3>
                </div>
                <div class="details-content-area">
                    <label for="Name">Name:</label>
                    <p class="content">{{ student.user.first_name | capfirst }} {{ student.middle_name | capfirst }} {{ student.user.last_name | capfirst }}</p>
                    <br>
        
                    <label for="Name">Email:</label>
                    <p class="content">{{ student.email }}</p>
                    <br>
        
                    <div class="two-column-area">
                        <div class="left">
                            <label for="Name">Admission Number:</label>
                            <p class="content">{{ student.adm_no }}</p>    
                        </div>
            
                        <div class="right">
                            <label for="Name">Phone Number:</label>
                            <p class="content">{{ student.phone_number }}</p>    
                        </div>
                    </div>
                    <br>    
        
                    <label for="Name">Course:</label>
                    <p class="content">{{ student.course }}</p>
                    <br>
        
                    <div class="two-column-area">
                        <div class="left">
                            <label for="Name">Mode of Study:</label>
                            <p class="content">{{ student.study_mode }}</p>    
                        </div>
        
                        <div class="right">
                            <label for="Name">Campus:</label>
                            <p class="content">{{ student.campus }}</p>    
                        </div>
                    </div>
                    <br>
        
                    <label for="Name">Student Type:</label>
                    <p class="content">{{ student.student_type }}</p>
                </div>
    
                </div>

            <div class="attachment-details">
                <div class="details-head">
                    <h3>Attachment Details</h3>
                </div>

                <div class="details-content-area">
                    <label for="Name">Name of Organisation Attached:</label>
                    {% if att_form.org_name %}
                    <p class="content">{{ att_form.org_name }}</p>
                    {% else %}
                    <p class="content">Not Provided</p>
                    {% endif %}
                    <br>
        
                    <label for="Name">Location of Organisation:</label>
                    {% if att_form.org_location %}
                    <p class="content">{{ att_form.org_location }}</p>
                    {% else %}
                    <p class="content">Not Provided</p>
                    {% endif %}
                    <br>
        
                    <div class="two-column-area">
                        <div class="left">
                            <label for="Name">Date Joined:</label>
                            {% if att_form.date_joined %}
                            <p class="content">{{ att_form.date_joined }}</p>    
                            {% else %}
                            <p class="content">Date Not Provided</p>    
                            {% endif %}
                        </div>
            
                        <div class="right">
                            <label for="Name">End Date:</label>
                            {% if att_form.end_date %}
                            <p class="content">{{ att_form.end_date }}</p>    
                            {% else %}
                            <p class="content">Date Not Provided</p>    
                            {% endif %}
                        </div>
                    </div>
                    <br>    
        
                    <!-- <label for="Name">Course:</label>
                    <p class="content">Bachelors of Business Information Technology</p>
                    <br> -->
        
                    <div class="two-column-area">
                        <div class="left">
                            <label for="Name">Assessor:</label>
                            {% if att_form.assessor %}
                            <p class="content">{{ att_form.assessor }}</p>    
                            {% else %}
                            <p class="content">Not Yet Assigned</p>    
                            {% endif %}
                        </div>
        
                        <div class="right">
                            <label for="Name">Assessor's Number:</label>
                            {% if att_form.assessor.phone_number %}
                            <p class="content">{{ att_form.assessor.phone_number }}</p>    
                            {% else %}
                            <p class="content">No Assessor Yet</p>    
                            {% endif %}
                        </div>
                    </div>
                    <br>
        
                    <label for="Name">Attachment Status:</label>
                    {% if att_form.status %}
                    <p id="att-status">ATTACHMENT ONGOING</p>
                    {% else %}
                    <p id="att-status" style="background-color: red;">ATTACHMENT PENDING</p>
                    {% endif %}
                    <br>
    
                    <label for="Name">DATE AND TIME STAMP:</label>
                    <p class="content">05/29/2023<span> AT </span>10:00:45</p>
    
                </div>

            </div>
        </div>

    </div>
</body>
{% endblock %}