<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    test
	<form action="">
		
		before
		{{form.as_p}}
		after
	
	</form>

	{% for contos in conto %}
	<li>.</li>{{ contos.name }}
	{% endfor %}
    <script>
		const rdata = '{{ courses_json }}'
		console.log("niaje maze")
		console.log(rdata)
		console.log("niaje maze")
		// const rdata = JSON.parse(data.replace(/&quot;/g,'"'))
		// const input = document.getElementById('search_here')
		// let filteredArr = []

		// input.addEventListener('keyup', (e)=> {
		// 	const search_term = e.target.value.toLowerCase()
		// 	box.innerHTML = ""
		// 	filteredArr = rdata.filter(tag=> tag['name'].toLowerCase().includes(search_term))
		// 	console.log(filteredArr)
		// 	if (filteredArr.length > 0){
		// 		filteredArr.forEach(tag=>{
		// 			box.innerHTML += `<b>${tag['name']}</b><br>`
		// 		})
		// 	} else{
		// 		box.innerHTML = `<b>No Results Found!</b>`
		// 	}
		// })			
		
	</script>
</body>
</html>