{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/apply.css' %}">
    <title>{% block title %}Student Register{% endblock %}</title>
</head>

<body>
    <div class="main">
        <!-- Top area -->
        <div class="top">
            <div class="top-left">
                <h1>Attachment Application</h1>
                <p>Good morning, {{request.user.username | capfirst}} <img src="{% static 'images/icons/wave-icon.svg' %}" alt="wave icon"></p>
            </div>

            <div class="top-right">
                <div class="icons">
                    <img src="{% static 'images/icons/settings-icon.svg' %}" alt="">
                    <img src="{% static 'images/icons/logout-icon.svg' %}" alt="">
                </div>
                <img src="{% static 'images/pexels-photo-428333.webp' %}" alt="" id="profile-image">
            </div>


        </div>
        <!-- End of top area -->

			<div class="form-area">			
				<form method="POST" id="attachmentForm">
					{% csrf_token %}
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<br>
						<li id="single-message" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						<br>
						{% endfor %}
					</ul>
					{% endif %}
					
					<div class="tab">
						<h3>1. Account Details:</h3>
						<br>           

						<div class="tab-contents">   
							<!-- 1 -->
							<label for="{{ form.username.id_for_label }}">Username</label>
							<br>
							{{ form.username }}
							{{ form.username.errors }}
							<br><br>
							
							<!-- 2 -->				
							<label for="{{ form.password.id_for_label }}">Password</label>
							<br>
							{{ form.password1 }}
							{{ form.password1.errors }}
							<br><br>

							<!-- 3 -->				
							<label for="{{ form.password.id_for_label }}">Confirm Password</label>
							<br>
							{{ form.password2 }}
							{{ form.password2.errors }}
							<br><br>
						</div>
					</div>						

					<div class="tab">
						<h3>2. Personal Details:</h3>
						<br>

						<div class="tab-contents">   
							<!-- 4 -->
							<label for="{{ form.first_name.id_for_label }}">First Name</label>
							<br>
							{{ form.first_name }}
							{{ form.first_name.errors }}
							<br><br>

							<!-- 5 -->
							<label for="{{ form.middle_name.id_for_label }}">Middle Name</label>
							<br>
							{{ form.middle_name }}
							{{ form.middle_name.errors }}
							<br><br>

							<!-- 6 -->
							<label for="{{ form.last_name.id_for_label }}">Last Name</label>
							<br>
							{{ form.last_name }}
							{{ form.last_name.errors }}
							<br><br>
						
							<!-- 7 -->
							<label for="{{ form.email.id_for_label }}">School Email</label>
							<br>
							{{ form.email }}
							{{ form.email.errors }}
							<br><br>
							
							<!-- 8 -->
							<label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
							<br>
							{{ form.phone_number }}
							{{ form.phone_number.errors }}
							<br><br>
						</div>
					</div>

					<div class="tab">
						<h3>3. School Details:</h3>
						<br>			

						<div class="tab-contents">   
							<!-- 7 -->
							<label for="{{ form.adm_no.id_for_label }}">Admission Number</label>
							<br>
							{{ form.adm_no }}
							{{ form.adm_no.errors }}
							<br><br>

							<!-- 8 -->
							<label for="{{ form.course.id_for_label }}">Course</label>
							<br>
							{{ form.course }}
							{{ form.course.errors }}
							<br><br>
							
							<!-- 9 -->
							<label for="{{ form.study_mode.id_for_label }}">Study Mode</label>
							<br>
							{{ form.study_mode }}
							{{ form.study_mode.errors }}
							<br><br>
							
							<!-- 10 -->
							<label for="{{ form.campus.id_for_label }}">Campus</label>
							<br>
							{{ form.campus }}
							{{ form.campus.errors }}
							<br><br>
							
							<!-- 11 -->
							<label for="{{ form.student_type.id_for_label }}">Student Type</label>
							<br>
							{{ form.student_type }}
							{{ form.student_type.errors }}
							<br><br>
						</div>
					</div>

					<!-- <input type="submit" value="LOG IN" id="submit-button"> -->
					<br>
					<div class="buttons">
						<button type="button" id="previous-btn" onclick="nextPrev(-1)">PREVIOUS</button>
						<button type="button" id="next-btn" onclick="nextPrev(1)">NEXT</button>
					</div>
				</form>
				<br>

				<p>Already have an account?<span>Click here to Login</span> </p>
			

			<div class="form-progress">
                <div class="progress-top">
                    <h3>Form Progress</h3>
                </div>
                <div class="form-progress-content">
                    <div class="actual-content">
                        <span></span>
                        1. Personal Details
                    </div>
                    <div class="actual-content">
                        <span></span>
                        2. Course Details
                    </div>
                    <div class="actual-content">
                        <span></span>
                        3. Attachment Details
                    </div>
                </div>
            </div>

		</div>
    </div>
	<script src="{% static 'js/form-steps.js' %}"></script>
</body>
{% endblock %}