{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login | KCA Attachment</title>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <img src="{% static 'images/kca_logo.svg' %}" alt="">
            <h1>ATTACHMENT PORTAL</h1>
            <br><br><br><br><br>
            <h2>LOG IN</h2>

            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <br>
                    <li id="single-message" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    <br>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <label for="{{ login_form.username.id_for_label }}">Username</label>
                <br>
                {{ login_form.username }}
                {{ login_form.username.errors }}
                <br><br>

                <label for="{{ login_form.password.id_for_label }}">Password</label>
                <br>
                {{ login_form.password }}
                {{ login_form.password.errors }}
                <br><br>

                <input type="submit" value="LOG IN" id="submit-button">
            </form>
            <br>

            <p>Forgot Password? <span>Click here to reset</span> </p>
        </div>
    </div>
</body>
</html>